<div id="footer">
  <div class="copyright">Copyright © 2019 Steve Hernandez</div>
  <div class="socialContainer">
    <ul>
      <li>
          <a href="http://dribbble.com/slhernandez" class="icon-alone">
            <span data-social-icon="&#xF660;"></span>
            <span class="screen-reader-text">Dribbble</span>
          </a>
      </li>
      <li>
        <a href="https://github.com/slhernandez" class="icon-alone">
          <span data-social-icon="&#xF671;"></span>
          <span class="screen-reader-text">Octocat</span>
        </a>
      </li>
    </ul>
  </div>
</div>
  