// System font.  The default.
$system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: $system;
  background-image: linear-gradient(180deg, #FAFAFA 0%, #F1F4F7 100%);
  color: #555;
  font-size: 62.5%;
  margin: 0px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #A061AA;
}

ul {
  list-style-type: none;
}

h1 {
  padding: 0;
  margin: 0;
}

[data-social-icon]:before {
  font-family: "SSSocialRegular";
  content: attr(data-social-icon);
  speak: none;
}

.icon-alone {
  display: inline-block;
}

