.title {
  text-align: center;
  p {
    font-size: 12px;
    font-weight: 300;
  }
  margin: 1em 0;
  padding: 1em 0 1.5em 0;
}

.post-card-container {
  display:  grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; 
  width: 100vmin;
  height: calc(100vh - 4em);
  grid-gap: 2em;
  margin: 0 auto;
}