@charset "UTF-8";

@font-face {
  font-family: "slhern";
  src:url("/fonts/icons/slhern.eot");
  src:url("/fonts/icons/slhern.eot?#iefix") format("embedded-opentype"),
    url("/fonts/icons/slhern.woff") format("woff"),
    url("/fonts/icons/slhern.ttf") format("truetype"),
    url("/fonts/icons/slhern.svg#slhern") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "slhern" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "slhern" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-38:before {
  content: "\61";
}
.icon-arrow-37:before {
  content: "\62";
}
.icon-arrow-39:before {
  content: "\63";
}
.icon-arrow-40:before {
  content: "\64";
}
