.post-hero {
  background: #171D25;
  border-bottom: 1px solid #CCC;
  padding-top: 4em;
  width: 100%;
  .post-hero-img {
    display: block;
    margin: 0 auto;
    max-width: 968px;
    width: 75%;
  }
  &.calendar {
    background: rgb(21,52,93);
    background: radial-gradient(circle, rgba(21,52,93,1) 0%, rgba(27,67,121,1) 20%, rgba(36,90,163,1) 100%);
  }
}
.post-hero-background.bounce {
  background-image: url("../images/posts/bounce/beyonce_crop.png");
  background-size: cover;
  height: 750px;
}

.post-container {
  max-width: 850px;
  width: 92%;
  margin: 0 auto;
  p {
    font-family: Whitney-Book;
    font-size: 1.8em;
    color: #454545;
    letter-spacing: 0;
    line-height: 33px;
  }
  .post-author {
    color: #454545;
    font-size: 1.6em;
  }
}

.post-title {
  font-size: 2.8em;
  padding: 1.5em 0 0 0;
}

.btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #4A90E2;
  padding: 0.8em 0.8em;
  padding: 0.7em 0em 0.5em 0;
  text-align: center;
  border-radius: 4px;
  margin-top: 3em;
  &:hover {
    color: white;
  }
}

.post-single-col-img {
  a {
    display: block;
  }

  img { 
    box-shadow: rgba(198, 208, 235, 0.5) 0px 10px 20px;
    width: 100%;
  }

  .caption {
    margin: 0;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 500;
    text-align: center;
  }

  .img--small {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

.post-double-column {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 4em 0 6em 0;
  .post-img { 
    box-shadow: rgba(198, 208, 235, 0.5) 0px 10px 20px;
    transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
    border: 1px solid rgb(198, 208, 235);
  }
}

