.post-hero {
  background: #171D25;
  border-bottom: 1px solid #CCC;
  padding-top: 4em;
  width: 100%;
  .post-hero-img {
    display: block;
    margin: 0 auto;
    width: 75%;
  }
}

.post-container {
  max-width: 1050px;
  width: 92%;
  margin: 0 auto;
  p {
    font-family: Whitney-Book;
    font-size: 1.8em;
    color: #454545;
    letter-spacing: 0;
    line-height: 33px;
  }
  .post-author {
    color: #454545;
    font-size: 1.6em;
  }
}

.post-title {
  font-size: 2.8em;
  padding: 1.5em 0 0 0;
}
