<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% if page.title %} {{ page.title }} | {% endif %} slhernandez</title>
    <meta name="description" content="Design, Portfolio and Discussions of Steve Hernandez">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include header.html %}
    {{content}}
    {% include footer.html %}
    <script type="text/javascript" src="/js/site.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>